<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}VRViewerPro{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Muli">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{path('homepage')}}">
                      <img src="{{ asset('images/logo.jpg') }}" style="width:70px; margin-top: -10px;" >
                  </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{path('homepage')}}">Home</a></li>
                    <li><a href="#about">About</a></li>
                    {% if app.user %}
                    <li><a href="{{path('projects')}}">Projects 
                    {% if app.user.details %}
                        ({{app.user.details.pcount}})
                    {%else%}
                        (0)
                    {%endif%}
                    </a></li>
                    {% endif %}
                    <li><a href="#contact">Contact</a></li>

                    {%if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{path('view_projects')}}">Review Projects</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                    {%endif %}
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }#}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{app.user.username}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('fos_user_profile_edit')}}"> Edit Profile  </a></li>

                                <li><a href="{{path('profile_plans')}}"> Subscriptions  </a></li>

                                <li><a href="{{path('fos_user_change_password')}}"> Change Password  </a></li>
                            </ul>
                            <li><a href="#">|</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% else %}
                            <li>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            </li>
                            {#<li>
                                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                            </li>#}
                        {% endif %}
                        
                    </li>
                  </ul>
                </div><!--/.nav-collapse -->
            </nav>
        </div>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="container container-table">
        <br>
        <br>
        <br>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{ asset('js/bootbox.min.js') }}"></script>
        <script src="{{ asset('js/js.js') }}"></script>
        <script>
            var vid = document.getElementById('vid');
            if(vid) {
                vid.volume = .3;
            }
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
