{% extends 'base.html.twig' %}
{% block body %}



<div class="homebody">
    <div class="embed-responsive embed-responsive-16by9 absolute">
      <video loop id="vid" autoplay="" class="embed-responsive-item" name="media"><source src="/panorama/web/video/villa.mp4" type="video/mp4"></video>

      <div class="text-center white-text on-top">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3><strong>VR tours for your property in less than 10 minutes<strong></h3>
        <br>
        <br>
        <br>
        <a href="">Sign up for beta</a>
        <br>
        <br>
        <br>
        <br>
      </div>

    </div>
</div>

<div class="container">
  <div class="row">
    {%for plan in plans.data%}
      <div class="col-sm-4">
        <h3><a>{{plan.name | capitalize}}</a></h3>
        <p>{{plan.statement_descriptor | capitalize}}</p>
        <p>Price: {{(plan.amount/100)|number_format(2, '.', ',')}}&#36;/{{plan.interval}}</p>
        <p>Trial: {{plan.trial_period_days}} days</p>
        {% if plan.metadata.project_count is defined %}
          <p>Number of Projects: {{ plan.metadata.project_count }}</p>
        {% endif %}

      </div>
    {% endfor %}
  </div>
</div>

<div class="text-center">
  <br>
  <br>
  <br>
  <br>
  <h3><strong>VR tours for your property in less than 10 minutes<strong></h3>

  <a href="">Sign up for beta</a>

</div>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Site Built by My Company Co.
           <a href="http://edgedream.com" target="_blank" >HTML 5 Validation</a>
      </p>
      
      <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-primary btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
    </div>
    
    
  </div>

{% endblock %}