{% extends 'base.html.twig' %}

{% block meta %}
  <meta name="Description" CONTENT="VR mobile android, IOS tour gallery panorama 360">
{% endblock %}

{% block body %}

<div class="homebody">
  <div class="embed-responsive embed-responsive-16by9 absolute">
  
    <video loop id="vid" autoplay="" class="embed-responsive-item" name="media"><source src="{{video}}With circle.mp4" type="video/mp4"></video>

    <div class="text-center white-text on-top">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3><strong>VR tours for your property in less than 10 minutes<strong></h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button style="border-radius: 25px; background:red; border:none; padding: 10px 20px 10px 20px;">
      <a class="sign-up" href="{{ path('fos_user_registration_register') }}"><b>Sign Up</b></a>
      </button>        
    </div>
  </div>
</div>

<div class="container-fluid homebody-content text-center">
  <div class="row white-bg">
    <br>
    <br>
    <h1><strong><span class="black-text">About</span> <span class="red-text">VRviewer</span><strong></h1 >
    <br>
    <br>
    <img src="{{ asset('images/glasses.png') }}" />
    <br>
    <br>
    <p style="padding-left:50pt; padding-right:50pt;" class="black-text"><span class="red-text">VRviewer</span> is a platform that allows you to create beautiful VR presentations and quickly gather an audience around them. <br>It is a very powerful tool that  can be integrated in every type of realestate marketing system. You can use VRviewer to increase your sales, or you can impress your clients by offering them an  immerse VR experience.
    </p>
    <br>
  </div>
  <div class="row black-bg">
      <h1><strong>Where can you use it<strong></h1 >
      <br>
      <div class="thumbnail text-center white-text">
          <img class="img-responsive" src="{{ asset('images/4-images.jpg') }}" />
          <div class="caption">

            <div class="col-xs-3 caption-col">
              <h3 class="white-text">Design<br>development</h3>
              <p class="white-text explain-text">
                Share the architectural designs with your clients directly in VR space, and create edits based on it. It will
                result in more comprehensive feedback and less edits for the studio, meaning a more efficient workflow.            
              </p>
            </div>

            <div class="col-xs-3 caption-col">
              <h3 class="white-text">Sales<br><span style="visibility:hidden;">sales</span></h3>
              <p class="white-text explain-text">
                Integrate the VR presentations in you marketing campaign of choice, in your site, in your flyers, on
                billboards, boosting your sales and creating social buzz around them.
              </p>
            </div>

            <div class="col-xs-3 caption-col">
            <h3 class="white-text">Portfolio<br>showcase</h3>
              <p class="white-text explain-text">
                Show your portfolio in a VR form, and let people see the full potential of your design. This feature can be
                used by architects, designers, artists and anyone who wants to give an extra edge to their work.
              </p>
            </div>

            <div class="col-xs-3 caption-col">
              <h3 class="white-text">Increase<br>your value</h3>
                <p class="white-text explain-text">
                  As a studio or a freelancer, add the VR presentation service to your existing list of services, increasing
                  your revenue and placing yourself among the professionals of the industry.
                </p>
              </div>
          </div>
      </div>
  </div>
  <div class="row white-bg text-center">
    <img style="width:75%; margin: 0 auto;" class="img-responsive" src="{{ asset('images/how.png') }}" />
  </div>
  <br>
  <br>
<!--
  <div class="row text-center">
    <h3><b>About <span style="color:red;">Vrviewer</span></b></h3>
  </div>
  <br>
  <br>
  <div class="row text-center">
    <p><span style="color:red;"><b>Vrviewer</b></span> is a platform that allows you to create VR presentations and quickly gather an audience around them. It is a very powerful tool that can be integrated in every type of realestate marketing system. You can use VRviewer to increase your sales, or you can impress your clients by offering them an immerse VR experience.</p>
    <p><span style="color:red;"><b>Vrviewer</b></span> allows to send VR presentations directly to your client's smartphone. using our own app.</p>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3"><b>Manage your VR<br> presentation<br><b> Edit the projects directly from your web browser interface, by adding or removing images</div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"><b>Incorporate and sell</b> Add our solution to the marketing campaign of your choice, and share the presentations with a broad audience<br></div>  
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3 text-center"><p class="text-center">Export Your VR images<br> Use the 3D software of your choice, create the cubemap and upload it to your platform</p></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"><p>Share<br> Show your clients the presentation, send it to his device using one simple code</p></div>
    <div class="col-sm-3"></div>  
  </div>
-->
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="container text-center">
    <div class="row">
      {%for plan in plans %}
        <div class="col-sm-4">
        <h3><a>{{plan.name}}</a></h3>
        <p class="white-text">{{ plan.description | split('--')[0] }}</p>
        <p class="white-text">Price: {{plan.price}}&#36;/month</p>
        <p class="white-text">Number of Cubemaps: {{ plan.description | split(':')[1] }}</p>
        <p><a href="{{path('profile_subscribe', {'planId':plan.id})}}" class="navbar-btn btn-primary btn">Subscribe</a></p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}