{% extends 'base.html.twig' %}
{% block body %}
<div class="container vertical-center">
    <br>
  <div class="row text-center">
  {% if app.session.flashBag.has('restricted') %}
    {% for flashMessage in app.session.flashbag.get('restricted') %}
        <span class="text-danger">{{ flashMessage }}</span>
        <span class="text-info"><a href="{{path('contact')}}">Contact</a></span>
    {% endfor %}
  {% endif %}
    <br>
    <br>

    {% if(showCreateProject) %}
    <a href="project/add">
      <button type="button" class="btn btn-default">Create new project</button>
    </a>
    <br>
    <br>
    <br>
    <br>
<!--
    <div class="square">
      <a href="project/add">
        <div>
          <h3>New Project</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
      </a>
    </div>
-->    
    {%endif%}
    {%set i = 0%}
    {% for project in projects %}
    <a class="projects_links" href="{{path('edit_project', {'projectId':project.id})}}">
      {% if project.getFace() %}
        <div class="square" data-image="{{face_dir~project.getFace()}}">
      {% else %}
        <div class="square">
      {%endif%}
            <h3>{{ project.name|capitalize }}</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
      </div>
    </a>
    {% set i = i + 1 %} 
    {% endfor %}
  </div>
</div>

{% endblock %}