{% extends "base.html.twig" %}

{% block title %}AppBundle:Profile:edit{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    {%for plan in plans.data%}
      <div class="col-sm-4">
        <h3><a>{{plan.name | capitalize}}</a></h3>
        <p>{{plan.statement_descriptor | capitalize}}</p>
        <p>Price: {{(plan.amount/100)|number_format(2, '.', ',')}}&#36;/{{plan.interval}}</p>
        <p>Trial: {{plan.trial_period_days}} days</p>
        {% if plan.metadata.project_count is defined %}
          <p>Number of Projects: {{ plan.metadata.project_count }}</p>
        {% endif %}
        {%if(currentPlan == plan.id)%}
          <p class="navbar-btn btn-info btn"><a href="{{path('profile_unsubscribe')}}">Unsubscribe</a></p>
        {%else%}
          <p><a href="{{path('profile_subscribe', {'planId':plan.id})}}" class="navbar-btn btn-primary btn">Subscribe</a></p>
        {%endif%}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
